body {
  width: 100%;
  height: 100%;
  margin: 0;
  align-content: center;
}
h1 {
  color: red;
}
header {
  text-align: center;
}
img {
  display: block; /* This ensures that the margin property works as expected */
  margin: auto;
}
a{
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}
figcaption {
  text-align: center;
}
p{
  text-align: center;
  margin: 0 auto;
  width: 800px;
}
|#featured-property{
  text-align: center;
  width: 800px;
  /* margin: 20px 20; */
}
#details {
  display: flex; /* set the container to use flexbox */
  /* text-align: center;
  padding-left: 20px; */
}

.detail {
  flex: 1; /* evenly distribute the space among all child elements */
}
div{
  float: left;
  width:25%;
  background-color: red;
  text-align: center;
}
